<div class="footer">
  <div class="inner">
    <div class="row">
      <!--div class="col-lg-12 text-center">
        <p>
          <strong>{{"AOT_ALERT_SYSTEMS__-_BEST_SOLUTION_FOR_YOUR_ORGANIZATION!" | translate }}</strong>
        </p>
      </div-->
    </div>
    <div class="bottom">
      <div class="row">
        <div class="col-sm-12">
          <div class="copyright">
            <img src="assets/images/logo-2.png" rel="noopener noreferrer" alt="Aot Software" />
            <span>
              © 2019
              <a href="http://www.aot.sa/en" target="_blank" rel="noopener noreferrer">
                Aot Software, All rights reserved
              </a>
              
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>