
#What .border-primary{
    border-color: #6159bd !important;
}
#What mdb-card-header{
   color:#6159bd ;
}
#What p{
    font-size: initial; 
    color: lightgrey !important;
    margin-bottom: 0px;
}
#which p{
    font-size: initial; 
    color: lightgrey !important;
    margin-bottom: 0px;
}
#What .border-top {
    border-top: 4px solid #6159bd !important;
}
#which .border-primary{
    border-color: #28b948 !important;
}
#which mdb-card-header{
    color:#28b948 ;
 }
 
#which .border-top {
    border-top: 4px solid #28b948 !important;
}
#when .border-primary{
    border-color: #f5ac3e !important;
}

#when .border-top {
    border-top: 4px solid #f5ac3e !important;
}

.card-header{
font-size: xx-large;
text-align: left;
}
#newBtn {
    margin-right: 3px !important;
}
